@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Silkscreen', cursive;
  font-weight: 400;
  line-height: 1;
}

.app {
  margin: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;;
}

.app-wrapper {
  display: flex;
}

.app-player {
  margin-bottom: 20px;
}

.app-player span {
  font-size: 24px;
}

.white {
  background-color: rgb(245, 170, 247)
}

.black {
  background-color: rgb(166, 9, 172)
}

.selected {
  background-color: rgb(250, 35, 125)
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color:rgb(250, 35, 125)
}